{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!--Styles section-->
{% block styles %}
  {{ super()}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}

<!--Page content section-->
{% block content%}
  <div class="container-fluid">
    <div class="description mr-auto ml-auto">
      <h1>Unleash your potential...</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="{{url_for('static',filename='images/homepage.png')}}" alt="example pitching" class="base-img">
      </div>
      <div class="col-md-6 navigate">
        <h1 class="text-center">How to navigate the application</h1>
        <div class="viewing-pitches">
          <p><span>1.</span>Click on the <i>Pitch Categories</i> from the navbar and select a category and you will be redirected to the page from which you can view different pitches.</p>
          <br>
          <p><span>2.</span>Once in the page.You can:</p>
          <ul>
            <li>Upvote a pitch.</li>
            <li>Downvote a pitch.</li>
          </ul>
          <br>
          <p><span>3.</span>For you to leave a comment or post a pitch you must sign in first.</p>
          <br>
        </div>
        <div class="profile">
          <p><span>4.</span>You can access your profile page and update it after signing in from the navbar.i.e<i>Profile</i></p>
        </div>
      </div>
    </div>
    <div class="new-pitch">
      <h1 class="text-center mt-5 mb-5"><b>Upload a pitch</b></h1>
      {% if current_user.is_authenticated %}
        <div class="row">
          <div class="col-md-2"> </div>
          <div class="col-md-8">
            {{ wtf.quick_form(pitch_form) }}
          </div>
          <div class="col-md-2"> </div>
        </div>
      {% else %}
        <div class="row">
          <div class="col-md-2"> </div>
          <div class="col-md-8">
            <p>You have to sign in first.</p>
          </div>
          <div class="col-md-2"> </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
